LIC_ROOT_PATH = /s0/u/cjh/licsrc/install
LIC_SRC_PATH = $(HOME)/licsrc
TETRIS_HOME = $(HOME)/tetris
BOOST_HOME = $(GEOEAST)/support/boost

# this will from /    otherwise the make install will install to a wrong dir
LIC_ROOT_PATH =$(HOME)/licsrc/install
LIC_SRC_PATH = /mnt/hgfs/win/licsrc
TETRIS_HOME = $(HOME)/tetris
BOOST_HOME = /mnt/hgfs/win/boost
HTTP_CALL = /mnt/hgfs/win/licsrc/http

#DEST
LIC_BIN = $${LIC_ROOT_PATH}/bin
LIC_LIB = $${LIC_ROOT_PATH}/lib
LIC_FILE = $${LIC_ROOT_PATH}/file

INCLUDE_BUS =   $${BOOST_HOME}/include \
	$${TETRIS_HOME}/src/third/json/include\
	$${TETRIS_HOME}/src/third/openssl/include\
	$${TETRIS_HOME}/src/lib\
	$${TETRIS_HOME}/src/devel
LIBS_BUS = \
	-luuid\
	-L$${TETRIS_HOME}/src/third/openssl/lib -lcrypto \
	-L$${TETRIS_HOME}/src/third/openssl/lib -lssl \
	-L$${TETRIS_HOME}/src/third/json/lib -ljsoncpp\
	-L$${BOOST_HOME}/lib -lboost_date_time -lboost_filesystem -lboost_system -lboost_thread -lboost_serialization 
# all libs that start bus;
 
CONFIG += debug

LIBS_APP = \
	-L $${LIC_ROOT_PATH}/lib\
	-llicbase  -llicclient  -lliccommon  -llichttpcall -lcurl -llicconfig  /lib64/libdl.so.2   

INCLUDE_UTIL= \
	 ./\
	$${LIC_SRC_PATH}/licbase\
	$${LIC_SRC_PATH}/licconfig\
	$${LIC_SRC_PATH}/liccommon\
	$${LIC_SRC_PATH}/licserver\  # we need SAppInfo define
	$${LIC_SRC_PATH}/http\
	$${LIC_SRC_PATH}/client
INCLUDE_SERVER= \
	 ./\
	$${LIC_SRC_PATH}/licbase\
	$${LIC_SRC_PATH}/licconfig\
	$${LIC_SRC_PATH}/liccommon\
	$${LIC_SRC_PATH}/server\
	$${LIC_SRC_PATH}/licserver
#================================================
#SOURCE_APP = $${LIC_SRC_PATH}/client/startClient.cpp\
#			 $${LIC_SRC_PATH}/client/noServer.cpp 

INCLUDE_HTTP_CALL = $${LIC_SRC_PATH}/http
#message(boost_home = $${BOOST_HOME})
